<!-- <div class="container-fluid bg-dark">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
  </div> -->
  <!-- <p>
    <mat-toolbar color="primary">
      <span>My Application</span>
    </mat-toolbar>
  </p> -->
 <app-toolbar></app-toolbar>
<div>
    <a routerLink="aboutus"> About us</a>
    <a routerLink="howItworks"> HowIt Works</a>
    <a routerLink="auth/login"> Login</a>
    <a routerLink="/public/all-books"> All Books</a>
</div>
<router-outlet></router-outlet>
<h3>Footer</h3>
